/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative; /* Agregado */
  z-index: 2; /* Agregado */
}

h1 {
  margin: 0;
}

.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; /* Ajustado para que no se superponga con el navbar */
  padding-top: 20px; /* Espacio superior agregado */
  z-index: 0;
}

.search-bar {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-bar button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #555;
}

.dog-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  overflow-y: auto;
  max-height: calc(100vh - 200px); /* Ajustado para encajar en la pantalla */
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 100px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative; /* Cambiado a relativo */
  z-index: 2; /* Agregado */
  margin-top: 20px; /* Ajustado para no superponerse con el contenido */
}
